@model IEnumerable<Goldnote.Models.GoldNote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Editor"))
    {
    <a asp-action="Create">Create New</a>
    }
</p>
<table class="table" id="goldnotes">
    <thead>
        <tr>
            <th class="sort" data-sort="name">
                @Html.DisplayNameFor(model => model.GoldNoteName)
            </th>
            <th class="sort" data-sort="change">
                @Html.DisplayNameFor(model => model.Change)
            </th>
            <th class="sort" data-sort="withdiscount">

@Html.DisplayNameFor(model=> model.WithDiscount)

            </th>
            <th class="sort" data-sort="destination">
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th class="sort" data-sort="accounting">
                @Html.DisplayNameFor(model => model.OnAccounting)
            </th>
            <th class="sort" data-sort="creditmachine">
                @Html.DisplayNameFor(model => model.CreditCardMachine)
            </th>
            <th class="sort" data-sort="sendingpaper">
                @Html.DisplayNameFor(model => model.GoldNoteSendingPaper)
            </th>
            <th class="sort" data-sort="specialoptions">
                @Html.DisplayNameFor(model => model.SpecialOptions)
            </th>
            <th class="sort" data-sort="imgs">
                画像
            </th>
            <th class="sort" data-sort="editdate">
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list">
        @foreach (var item in Model)
        {
            <tr>
                <td class="name">
                    @Html.DisplayFor(modelItem => item.GoldNoteName)
                </td>
                <td class="change">
                    @(item.Change ? "有" : "無")
                </td>
                <td class="withdiscount">
                    @(item.WithDiscount ? "可":"不可")
                </td>


                <td class="destination">
                    @(item.Destination ? "ユニー" : "本部")
                </td>
                <td class="accounting">
                    @Html.DisplayFor(modelItem => item.OnAccounting)
                </td>
                <td class="creditmachine">
                    @Html.DisplayFor(modelItem => item.CreditCardMachine)
                </td>
                <td class="sendingpaper">
                    @Html.DisplayFor(modelItem => item.GoldNoteSendingPaper)
                </td>
                <td class="specialoptions">
                    @Html.DisplayFor(modelItem => item.SpecialOptions)
                </td>
                <td class="imgs">
                    @(item.ImageAdress != null ? "有り" : "無し")
                </td>
                <td class="editdate">
                    @Html.DisplayFor(modelItem => item.EditDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditerId)
                </td>
                <td>

                    <a  class="btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Editor") | User.IsInRole("Administrator"))
                    {
                    <a class="btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }</td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
        var options = {
            valueNames: ['name','withdiscount', 'change', 'destination', 'accounting', 'creditmachine', 'imgs','specialoptions', 'editdate']

        };

        var goldnoteList = new List('goldnotes', options);
        userList.sort('name', { order: 'desc' });
        alert('called')
    </script>

    <style>
        .sort.desc:after {
            content: "▼";
        }

        .sort.asc:after {
            content: "▲";
        }
    </style>
}
